html,
body {
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 4fr;
  grid-template-rows: minmax(200px, 1fr) 4fr;
  grid-template-areas: "sidebar header header header header" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main" "sidebar main main main main";
  width: 100%;
  height: 100%;
}

.header {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: header;
  padding: 2rem 3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  z-index: 3;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search {
  display: flex;
  flex: 0 0 70%;
  align-items: center;
}
.search i {
  color: #333;
  font-size: 1.5rem;
}

.account {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.account i {
  color: #333;
  font-size: 1.5rem;
  padding: 0 0.5rem;
  transition: 300ms ease-in-out;
}
.account i:hover {
  color: #e981ac;
  transform: scale(1.1);
  cursor: pointer;
}

.account-icon {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: #e4e4e4;
  margin: 0 1rem;
  background: url("cat.jpg") 35% 30%;
  background-size: 110px;
  filter: hue-rotate(240deg);
}

input[type=search] {
  width: 90%;
  height: 30px;
  border: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  margin: 0 1rem;
  color: #474747;
  background-color: #e4e4e4;
}
input[type=search]:focus {
  outline: none;
  border: 1px solid #3fa4bd;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
}
.header-bottom button {
  border: none;
  border-radius: 1.5rem;
  padding: 0.7rem 2.7rem;
  margin: 0 0.5rem;
  background-color: #3fa4bd;
  color: #eee;
  transition: 300ms ease;
}
.header-bottom button:hover {
  background-color: #e981ac;
  cursor: pointer;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.profile-icon {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #e4e4e4;
  background: url("cat.jpg") 35% 30%;
  background-size: 190px;
  filter: hue-rotate(240deg);
}

.greeting {
  font-weight: 600;
  letter-spacing: 1px;
}

.username {
  font-size: 1.7rem;
  font-weight: 600;
}

.small {
  margin: 0 0 1rem 0;
}
.small:last-child {
  margin-bottom: 0;
}

.small-username {
  font-size: 1.1rem;
  letter-spacing: 0;
}

.small-tagline {
  font-size: 0.8rem;
}

.small-icon {
  width: 50px;
  height: 50px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: #1f8aa5;
  color: #fff;
  grid-area: sidebar;
  padding: 2rem 2rem;
}
.sidebar span {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin-bottom: 2rem;
}
.sidebar ul li {
  font-size: 1.2rem;
  padding: 0.8rem 0;
}
.sidebar ul li i {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 5px 0;
}

.main {
  display: grid;
  grid-area: main;
  grid-template-columns: 1fr auto;
  grid-template-rows: min-content 1fr;
  grid-template-areas: "projects announcements" "projects trends";
  gap: 2rem;
  padding: 2rem;
  background-color: #e4e4e4;
  overflow: auto;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 250px;
  grid-area: projects;
  gap: 2rem;
}

.announcements {
  grid-area: announcements;
}

.trends {
  grid-area: trends;
}

.project-item {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  border-left: 10px solid #e981ac;
  padding: 1rem;
}
.project-item h3 {
  margin: 1rem 0 0 0;
}

.card-bottom {
  display: flex;
  justify-content: end;
  margin-top: auto;
  font-size: 1.4rem;
}
.card-bottom i {
  margin: 0 0.3rem;
  transition: 300ms ease;
  color: #474747;
}
.card-bottom i:hover {
  color: #e981ac;
  cursor: pointer;
}

.announcement-item,
.trending-item {
  display: flex;
  flex-direction: column;
  background-color: #eee;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.6rem;
  width: 300px;
  padding: 1rem;
}

/*# sourceMappingURL=style.css.map */
